
body{
    background-image: url('images/joyeuxAnniversaire.jpg') ;
    background-size: cover;
    background-position: top;
}
h1{
    text-align: center;
    font-size: 3.3rem;
    color: rgb(15, 125, 152);
    text-shadow: 10px 10px 5px rgb(242, 239, 239);
}
h2{
    padding: 10px;
    color: rgb(15, 125, 152);
    border-radius: 20px;
    text-align: center;
}
.cadeau{
    text-align: right;
    
}
a{
    display: block;
    border-radius: 30px;
}
