.carnet{
    background-image: url("images/imageDeFond.jpg");
    background-attachment: fixed;
}
nav{
    background-color: rgba(0, 0, 0, 0.53);
    text-align: right;
    position: sticky;
    top: 0;
}   
h1{
    display: inline-block;
    font-family: "Dawning of a New Day",cursive;
    text-shadow: 5px 10px 7px rgb(193, 147, 49);
    font-size: 5em;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.625);
    border-radius: 20px;
}
.container{
    display:grid;
    grid-template-columns: 1fr;
    margin: auto;
    box-shadow: 5xp 5px 5px black;
    
}
.box{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    grid-template-columns: 1.5fr 1fr;
    margin:auto;
    align-items: flex-start;
    border: 3px solid rgb(239, 228, 228);
    border-radius: 50px;
    max-width: 1200px;
    
} 

.box img{
    max-width: 400px;
    max-height: 400px;
    height: auto;
    padding: 10px;
    border-radius: 150px;
    gap: 10px;
} 
p{
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    font-family: "Dawning of a New Day",cursive;
    font-size: 1.7rem;
    background-color: rgba(254, 254, 254, 0.86);
    color:rgb(37, 51, 153);
    margin-bottom: 15px;
}
h2{
    font-family: "Dawning of a New Day",cursive;
    padding: 10px;
    border-radius: 20px;
    font-size: 3em;
    background-color: rgba(255, 255, 255, 0.702);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.532);
    position: sticky;
    top: 20px;

}
#jour1{
    background-image: url("images/totoroJour1.jpg");
    background-position: center;

    background-color: rgba(240, 255, 255,0.5);
    padding: 20px;
    border-radius: 20px;
}
#jour2{
    background-image: url("images/imageFondJour2.jpg");
    background-position: center;

    padding: 20px;
    border-radius: 20px;
}
#jour3{
    background-image: url("images/totoroMenara.jpg");
    background-position: center;

    padding: 20px;
    border-radius: 20px;
}
#jour4{
    background-image: url("images/imageFondJour5.jpg");
    background-position: center;

    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}
#jour5{
    background-position: center;
    background-image: url("images/essaouiraMedina.jpeg");
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}
#jour6{
    background-image: url("images/imageDeFondJour6.jpg");
    background-position: center;

    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}
#jour7{
    background-image: url("images/imageFondJour7.jpg");
    background-position: center;
    background-color: rgba(174, 128, 52, 0.717);
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}
#jour8{
    background-image: url("images/imageFondJour8.jpg");
    background-position: center;
    background-color: rgba(174, 128, 52, 0.717);
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}



a{
    text-decoration: none;
    color: rgb(241, 238, 238);
    padding: 15px;
    font-size: 1.2em;
}
.photoVoyage{
    background-image: none;
}
.lettreTotoro{
    background-image: url("images/totoroPapierALettres.jpg");
    background-size: 100%;
}
.lettreTotoro main{
    font-family: "Dawning of a New Day",cursive;
    font-weight: 600;
}
.lettreTotoro p{
    padding-top: 400px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2em;
    color: rgb(39, 39, 164);
}
.navLettre{
    height:100 px;
}
.croquis{
    padding:none;
    text-align: center;
}
.croquis img{
    display: block;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 5px 5px 2px black;

    
}

.croquis img:hover{
    opacity: 0.9;
}
.croquis img:active{
    position: relative;
    top:6px;
    left:6px;
    box-shadow: 2px 2px 2px black;
}
iframe{
    border-radius: 50px;
    padding: 20px;
}