
body{
    background-image: url('images/joyeuxAnniversaire.jpg') ;
    background-size: cover;
    background-position: top;
}
h1{
    text-align: center;
    font-size: 3.3rem;
    color: rgb(15, 125, 152);
    text-shadow: 10px 10px 5px rgb(242, 239, 239);
}
h2{
    padding: 10px;
    color: rgb(15, 125, 152);
    border-radius: 20px;
    text-align: center;
}

.cadeau{
    border-radius: 30px;
    animation: clignoter 1s infinite;
}
.cadeau:hover{
    opacity: 1;
}
/* Définir l'animation de rotation avec accélération et décélération */
@keyframes rotation  {
/*    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }*/
}

/* Appliquer l'animation à la classe tourne */
.tourne {
    display: inline-block;
    animation: rotation 20s cubic-bezier(0.25, 0.1, 0.25, 1) 1s forwards; /* Utilisation de cubic-bezier pour l'accélération/décélération */
}
@keyframes clignoter {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}