
body{
    background: linear-gradient(rgba(210, 223, 107, 0.124), rgba(209, 209, 100, 0.6)), url('images/imageDeFond.jpg');
}
.pageAcceuil{
    background-image: url(images/carteAnniversaire.jpg);
}
h1{
    text-align: center;
    font-size: 2.7rem;
    color: cadetblue;
    text-shadow: 5px 5px 5px black;
}
.sousTitre{
    font-size: 2rem;
}
h2{
    body{
        background: linear-gradient(rgba(210, 223, 107, 0.124), rgba(209, 209, 100, 0.6)), 
        url('images/carteAnniversaire.jpg');
    }
    h1{
        text-align: center;
        font-size: 3.3rem;
        color: rgb(45, 88, 89);
        text-shadow: 10px 10px 5px black;
        background-color: gainsboro;
    }
    .sousTitre{
        font-size: 2rem;
    }
    h2{
        background-color: rgba(103, 95, 51, 0.711);
        padding: 10px;
        color: rgb(45, 88, 89);
        border-radius: 20px;
        text-align: center;
    }
    ul{
        padding: 50px;
        background-color: rgba(237, 237, 221, 0.758);
        border-radius: 20px;
    }
    .agenda{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        width: 90%;
        margin: auto;
        align-items: top;
    }
    a{
        color: black;
        text-align: end;
        text-decoration: none;
        margin: 15px;
    }
    .cadeau{
        display: block;
        text-align: center;
    }
    .ouvre{
       text-align: center;
       background-color: linear-gradient(rgba(20, 93, 122, 0.5)rgba(20, 93, 122, 0.9));
    }
    
    padding: 10px;
    color: rgb(41, 80, 115);
    border-radius: 20px;
    text-align: center;
    background-color: linear-gradient(rgba(20, 93, 122, 0.5)rgba(20, 93, 122, 0.9));

}
.cadeau{
    display: block;
    text-align: center;
}
.lettreTotoro main{
    display:grid;
    grid-template-columns: repeat(5,1fr);

}
.lettreTotoro p{
    grid-column: 2/4;
}