h1{
    text-shadow: 5px 5px 5px rgb(201, 205, 7);
    font-size: 3.3em;
}
.container{
    display:grid;
    grid-template-columns: 1fr;
    margin: auto;
    box-shadow: 5xp 5px 5px black;
    
}
.box{
    display: grid;
    padding: 20px;
    grid-template-columns: 1.5fr 1fr;
    text-align: justify;
    border: 1px solid gray;
    border-radius: 50px;
    max-width: 1200px;
    
} 

.box img{
    max-width: 600px;
    max-height: 400px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
} 
p{
    padding: 20px;
    border-radius: 20px;
    font-size: 1.3rem;
    background-color: rgba(215, 146, 42, 0.5);
    color:white
}
h2{
    font-size: 2.3em;
}
#jour1{
    background-image: url("images/totoroJour1.jpg");
    background-color: rgba(240, 255, 2550.5);
    padding: 20px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 1.2em;
}